
body
{
  margin: 0;
  padding: 0;
  height: 200vh;

}
h1 {
    color: white;
    font-family: verdana;
    font-size: 180%;
}

h2 {
    color: grey;
    font-family: courier;
    font-size: 150%;
}
h3 {
    color: purple;
    font-family: courier;
    font-size: 130%;
}
h4 {
    color: purple;
    font-family: verdana;
    font-size: 120%;
}



#particles-js
{
  height: 100%;
  background: black;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
